.intro__title {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-15px);
  margin: 0;
  padding: 0;
  font-family: Cybero, Gilroy, Arial, sans-serif;
  font-size: 84px;
  font-weight: 400;
  line-height: 1;
  color: var(--mainComponColor);
  opacity: 0;
  user-select: none;
}
