.card__details {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 72%;
  height: 100%;
  background: var(--secondaryComponColor);
  padding: 20px 0;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .card__details {
  transform: perspective(2000px) rotateY(0deg);
}
