.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--secondaryTextColor);
}

@media (max-width: 767px){
  .header__link {
    margin-top: 30px;
  }
}
