.footer__message{
    padding: 10px 15px;
    background-color: var(--mainTextColor);
    color: var(--mainColor);
    font-size: 18px;
    font-weight: bold;
    border-radius: 21px;
    outline: none;
    border-width: 0 0;
    margin-top: -20px;
    cursor: pointer;
}