.skills__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: grid;
    grid-gap: 30px; */
    /* grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); */
    /* grid-template-rows: repeat(1, 90px); */
    margin: 0 20px;
}


@media screen and (max-width: 767px){
    .skills__container{
        margin: 0 10px;
    }
  }