.section-paragraph {
    margin: 0 auto 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: var(--mainTextColor);
  }
  
  .section-paragraph:last-of-type {
    margin: 0;
  }